.CreateAccount {
  background: #7c8ba5;
  padding: 2rem 0;

  .CreateAccount-wrapper {
    max-width: $max-width;
    margin: 0 auto;
    background: $white;
    padding-bottom: 1rem;

    .CreateAccountNavbar {
      width: 60%;
      @include flexProps(space-between);

      padding: 1rem;
      position: relative;

      @media (max-width: $me-laptop) {
        width: 80%;
      }

      @media (max-width: $laptop) {
        flex-wrap: wrap;
        width: 100%;
        margin-top: 1rem;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      a {
        text-transform: capitalize;
        color: grey;

        @media (max-width: $laptop) {
          font-size: 0.8rem;
        }
      }

      .active {
        font-weight: bold;
        color: $light-blue;
      }
    }
  }
}
