.Transfers {
  .Forgot-password {
    background: #7c8ba5;
    padding: 10rem 0;
    .Reset-password {
      max-width: 600px;
      margin: 0 auto;

      h3 {
        background: $dark-blue;
        color: $white;
        font-weight: normal;
        padding: 0.7rem 1rem;
      }

      form {
        padding: 3rem 1rem;
        background: white;
        label {
          @include flexProps(space-between);
          align-items: center;
          position: relative;
          text-transform: capitalize;
          font-weight: bold;
          font-size: 0.9rem;

          input {
            width: 60%;
            padding: 0.3rem;
            border: 1px solid rgb(214, 214, 214);
            border-radius: 4px;
            margin-bottom: 1rem;
          }

          .transfer-error {
            position: absolute;
            color: red;
            top: 1.7rem;
            left: 40%;
            font-weight: normal;
            font-size: 0.9rem;
          }
        }

        .btn-wrapper {
          width: 20%;
          margin: 0.7rem auto;

          button {
            @include mainButton($dark-blue, 0.5rem 0.7rem);
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}
