.Footer {
  background: #003764;
  color: white;
  padding: 4rem 0;

  @media (max-width: $laptop) {
    padding: 3rem 0;
  }
  .footer-wrapper {
    max-width: 1200px;
    margin: 0 auto 3rem;
    //  border: 1px solid red;
    display: flex;
    justify-content: space-between;

    @media (max-width: $md-desktop) {
      max-width: 85%;
      flex-wrap: wrap;
      justify-content: center;
    }

    .left-side {
      nav {
        margin-bottom: 1rem;
        a {
          border-right: 1px solid white;
          color: white;

          padding: 0 0.6rem;
          font-size: 0.9rem;
          text-transform: capitalize;
          font-weight: 300;

          &:first-child {
            padding-left: 0;
          }

          &:last-child {
            border: none;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
      .logos {
        @media (max-width: $md-desktop) {
          text-align: center;
          margin-bottom: 1rem;
        }
        img {
          width: 80px;
          height: 35px;
          object-fit: fill;

          &:first-child {
            margin-right: 0.3rem;
          }

          @media (max-width: $laptop) {
            height: 30px;
          }
        }
      }
    }

    .right-side {
      // border: 1px solid blue;
      h3 {
        text-transform: uppercase;
        margin-bottom: 1.5rem;
      }
      p {
        margin-bottom: 1.5rem;
        text-transform: capitalize;
        font-weight: bold;

        span {
          font-weight: 300;
        }
      }

      .follow-us {
        span {
          font-size: 1.5rem;
        }
      }
    }

    @media (max-width: $md-desktop) {
      text-align: center;
    }
  }

  .copyright {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 300;

    p {
      margin-bottom: 0.3rem;
    }
    a {
      color: white;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
