.Header {
  color: #333;
  background: url("../imgs/headerimg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 3rem solid #8c9091;
  height: 60vh;

  @media (max-width: $md-desktop) {
    height: 35vh;
  }

  @media (max-width: $laptop) {
    margin-top: 3rem;
  }

  @media (max-width: $med-phone) {
    height: 25vh;
    border-bottom: 2.3rem solid #8c9091;
  }

  .Header-inner {
    max-width: 1150px;
    margin: 0 auto;

    @media (max-width: $md-desktop) {
      height: 100%;
    }

    .small-description {
      max-width: 600px;
      text-align: center;

      @media (max-width: $md-desktop) {
        height: 100%;
        padding-top: 2rem;
      }
    }
  }
}
