.Navbar {
  border-bottom: 3px solid rgba(27, 27, 27, 0.1);
  .inner-wrapper {
    margin: 0 auto;

    .first-nav {
      background: #0b3764;

      .t {
        max-width: 1150px;
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
        //   padding: 1rem 0;
        align-items: center;
        font-size: 0.7rem;
      }

      a {
        //   margin-right: 2rem;
        color: white;
        padding: 1rem;
        transition: background 0.3s ease;
        &:last-child {
          margin: 0;
        }

        span {
          display: inline-block;
          margin-right: 0.2rem;
          font-size: 0.8rem;
          margin-bottom: -1rem;
        }

        &:hover {
          background: #333;
        }
      }

      .active {
        background: #333;
        color: white;
      }
    }

    .second-nav {
      max-width: 1150px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.1rem 0;

      img {
        width: 300px;
        // height: ;
      }

      .second-nav-wrapper {
        a {
          display: inline-block;
          margin-right: 1rem;
          font-size: 1.1rem;
          color: black;
          font-weight: 300;
          padding: 1.5rem 0.3rem;
          transition: all 0.3s ease;

          &:last-child {
            margin: 0;
            font-weight: bold;
          }

          span {
            font-size: 0.9rem;
          }

          &:hover {
            background: #333;
            color: white;
          }
        }

        .active {
          background: #333;
          color: white;
        }
      }
    }
  }
}
