// main app width;
$max-width: 1150px;

// main colors
$blue: #3f58a6;
$light-blue: #337ab7;
$dark-blue: #2c5794;
$white: #f4f4f4;
$black: #333;
$red: #b22b2e;

// media query sizes
$md-desktop: 1200px;
$me-laptop: 1140px;
$laptop: 760px;
$med-phone: 500px;
