$md-desktop: 1200px;
// $me-laptop: 1025px;
$me-laptop: 1140px;

$laptop: 760px;

// main with
$max-w: 1300px;

// main colors
$blue: #3f58a6;
$white: #f4f4f4;
$black: #333;

// media queries variables
$med-desktop: 1450px;
$sm-desktop: 1180px;
$s-laptop: 900px;
$m-laptop: 850px;
// $laptop: 800px;
$lg-phone: 650px;
$med-phone: 500px;
$galaxy: 414px;
