.PersonalInformation {
  .loading-component {
    text-align: center;
    margin: 5rem 0;

    h3 {
      margin-bottom: 1rem;
    }

    p {
      margin-top: 1rem;
    }
  }

  .congratulations {
    padding: 0 2rem;
    margin: 5rem 0;

    h1 {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }

    p {
      margin-bottom: 2rem;
    }

    button {
      @include mainButton($light-blue, 0.6rem 1.5rem);
    }
  }
}
