.PersonalInformation {
  form {
    .city-state-zip-wrapper {
      @include flexProps(space-between);
      align-items: center;
      margin-bottom: 2rem;
      border-bottom: 1px solid rgb(226, 225, 225);
      padding-bottom: 2rem;

      span {
        font-weight: bold;
        @media (max-width: $laptop) {
          font-size: 0.8rem;
        }
      }

      .input-wrappers {
        display: flex;
        width: 70%;
        align-items: center;

        @media (max-width: $laptop) {
          width: 90%;
        }

        label {
          width: 100%;

          input {
            width: 80%;
            @media (max-width: $laptop) {
              display: block;
              width: 95%;
            }
          }

          select {
            width: 80%;

            @media (max-width: $laptop) {
              width: 95%;
            }
          }
        }
      }
    }
  }
}

.errors {
  color: red;
  margin-left: 15rem;
  font-size: 0.9rem;
}
