.bg-color {
  .LoanApplication {
    @media (max-width: $me-laptop) {
      width: 90%;
      margin: 0 auto;
    }
    .img-wrapper {
      text-align: center;
      margin-bottom: 5rem;

      @media (max-width: $laptop) {
        margin-bottom: 3rem;
      }
      img {
        width: 230px;

        @media (max-width: $laptop) {
          width: 180px;
        }
      }
    }

    form {
      .app-status-btn-wrapper {
        margin: 4rem 0 5rem;
        text-align: center;

        @media (max-width: $laptop) {
          margin: 3rem 0;
        }
        button {
          @include mainButton($dark-blue, 0.8rem);

          width: 500px;
          font-size: 1.2rem;
          margin-top: 0.5rem;

          @media (max-width: $laptop) {
            width: 300px;
          }
        }
      }
    }

    .Status-result {
      padding: 0 1rem;
      margin-top: 2rem;
      font-weight: 300;

      h2 {
        margin-bottom: 0.5rem;
        color: $dark-blue;
      }
      p {
        font-size: 0.9rem;
        margin-bottom: 1.5rem;
      }
      .application-number {
        font-weight: bold;
        text-transform: capitalize;
        margin-bottom: 1rem;
        font-size: 1.1rem;

        @media (max-width: $laptop) {
          font-size: 1rem;
        }
      }
      .application-status {
        width: 250px;

        .description-right,
        .description-left {
          @include flexProps(space-between);

          text-transform: capitalize;

          @media (max-width: $laptop) {
            font-size: 0.9rem;
          }
        }
        .description-left {
          font-weight: bold;
          margin: 0.5rem 0 5rem;
        }
      }

      .note-description {
        margin-bottom: 10rem;
      }
    }

    .loading-component {
      text-align: center;
    }
  }
}
