.Loans {
  .loan-section {
    .right-side {
      .small-description {
        h1 {
          font-size: 2.3rem;
          margin-bottom: 1rem;
        }

        h4 {
          font-size: 1.3rem;
          font-weight: normal;
          margin-bottom: 1rem;
        }

        p {
          @media (max-width: $laptop) {
            font-size: 1rem;
          }
        }
      }

      ul {
        margin-bottom: 2rem;
        padding: 0 4rem;
        list-style-type: square;

        li {
          margin-bottom: 0.5rem;
          font-size: 1.1rem;

          @media (max-width: $laptop) {
            font-size: 1rem;
          }
        }
      }

      .apply {
        @include mainButton($red, 0.7rem 1rem);
        margin-left: 2rem;
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: 300;
        margin-bottom: 2rem;
        transition: background 0.3s ease;

        &:hover {
          background: #333;
        }
      }
    }
  }
  .right-side-nav {
    nav {
      .credit {
        a {
          font-size: 0.9rem;
        }
      }
    }
  }
}
