.bg-color {
  background: #7c8ba5;
  padding: 5rem 0;
  .LoanApplication {
    max-width: 1000px;
    margin: 0 auto;
    background: white;

    .application-header {
      padding: 3rem 2rem;
      position: relative;

      img {
        width: 230px;
        position: absolute;
        top: 0;
        left: 1rem;

        @media (max-width: $me-laptop) {
          left: 50%;
          transform: translate(-50%);
        }
      }

      h1 {
        font-weight: normal;
        text-transform: capitalize;
        margin-bottom: 2rem;
        color: #2c5794;

        @media (max-width: $laptop) {
          font-size: 1.6rem;
        }
      }
      .application-title {
        text-align: center;
        font-size: 2.7rem;
        font-weight: 300;
        margin-bottom: 5rem;

        @media (max-width: $me-laptop) {
          margin-top: 2rem;
          margin-bottom: 2rem;
          font-size: 2.5rem;
        }
      }

      h2 {
        text-transform: capitalize;
        font-size: 1.6rem;
        color: #2c5794;

        @media (max-width: $laptop) {
          font-size: 1.3rem;
        }

        span {
          font-size: 1.3rem;
          margin-right: 0.5rem;
        }
      }
    }

    form {
      padding: 0 1rem;

      h3 {
        text-transform: capitalize;
        font-size: 1.2rem;
        margin-bottom: 1rem;
        color: black;
      }

      label {
        font-family: "Raleway", sans-serif;
        // border: 1px solid red;
        text-transform: capitalize;
        font-weight: bold;
        position: relative;
        width: 100%;

        input {
          font-family: "Raleway", sans-serif;
          background: #eaeaea;
          display: block;
          width: 100%;
          padding: 0.7rem 0.2rem;
          font-size: 1rem;
          font-weight: 300;
          border-radius: 4px;
          border: 1px solid #d6d6d6;
          margin: 0.5rem 0 1.2rem;
        }
        select {
          font-family: "Raleway", sans-serif;
          text-transform: capitalize;
          background: #eaeaea;

          display: block;
          width: 100%;
          font-size: 1rem;
          font-weight: 300;
          padding: 0.7rem 0.2rem;
          border-radius: 4px;
          border: 1px solid #d6d6d6;
          margin: 0.5rem 0 1rem;
        }

        .error {
          color: red;
          font-weight: normal;
          font-size: 0.9rem;
          position: absolute;
          top: 4.6rem;
          left: 0;
          //  border: 1px solid red;
          display: block;
          width: 200px;
        }
      }

      .ssn-wrapper {
        //   border: 1px solid red;
        display: flex;
        justify-content: space-between;
        position: relative;

        span {
          text-transform: uppercase;
        }

        .ssn-icons {
          span {
            text-transform: none;
            margin-right: 0.5rem;
            cursor: pointer;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }

      .date-of-birth {
        //   border: 1px solid red;
        span {
          //  display: block;
          text-transform: capitalize;
          font-weight: bold;
        }

        .dof-wrapper {
          display: flex;
          justify-content: space-between;
          label {
            width: 100%;
            input {
              // display: inline-block;
              width: 97%;
            }
          }
        }
      }

      .contact-information {
        margin-top: 3rem;

        //   border: 1px solid red;
        h2 {
          text-transform: capitalize;
          margin-bottom: 1rem;
          font-size: 1.8rem;
          color: #2c5794;
        }
      }

      .current-address {
        margin-top: 3rem;

        //   border: 1px solid blue;
        h2 {
          text-transform: capitalize;
          margin-bottom: 1rem;
          font-size: 1.8rem;
          color: #2c5794;
        }
      }

      .occupancy-duration {
        .duration-wrapper {
          display: flex;
          justify-content: space-between;

          label {
            width: 100%;

            select {
              width: 97%;
            }
          }
        }

        label {
          width: 100%;
          select {
            width: 97%;
          }
        }
      }

      .use-different-address {
        .diferent-address-title {
          display: flex;
          align-items: center;
          text-transform: capitalize;
          color: #2c5794;

          span {
            font-weight: bold;
            font-size: 1.1rem;
            cursor: pointer;
            margin-left: 0.5rem;
          }
        }

        .different-address-input-wrapper {
          display: none;
          margin-top: 1.5rem;
        }

        .show-inputs {
          display: block;
        }
      }

      .identification {
        //   border: 1px solid blue;
        margin-top: 3rem;
        h2 {
          text-transform: capitalize;
          margin-bottom: 1rem;
          font-size: 1.8rem;
          color: #2c5794;
        }

        .id-expiration-date {
          //   display: flex;
          //   justify-content: space-between;

          //  span {
          //    display: block;
          //  }

          .input-wrapper {
            display: flex;
            justify-content: space-between;
            label {
              width: 100%;
              input {
                // display: inline-block;
                width: 97%;
              }
            }
          }
        }
      }

      .financial-information {
        margin-top: 3rem;
        margin-bottom: 7rem;
        //   border: 1px solid red;

        h2 {
          text-transform: capitalize;
          margin-bottom: 1rem;
          font-size: 1.8rem;
          color: #2c5794;
        }
      }

      .employment-duration {
        //   border: 1px solid red;
        margin-bottom: 1rem;
        span {
          display: inline-block;
        }
        .duration-wrapper {
          display: flex;
          justify-content: space-between;

          label {
            width: 100%;

            select {
              width: 97%;
            }
          }
        }
      }

      .btn-wrapper {
        // border: 1px solid blue;
        text-align: center;
        button {
          background: #2c5794;
          color: white;
          width: 500px;
          padding: 0.8rem;
          text-transform: capitalize;
          font-size: 1.2rem;
          border-radius: 4px;
          border: 1px solid grey;
          margin-top: 0.5rem;

          @media (max-width: $laptop) {
            width: 300px;
          }
        }
      }
    }
    .form-footer {
      //  border: 1px solid red;
      background: #2c5794;
      color: white;
      margin-top: 2rem;
      text-align: center;

      span {
        &:first-child {
          padding: 0.5rem 0;
          font-weight: bold;
        }

        &:last-child {
          font-size: 0.7rem;
          margin-bottom: 0.5rem;
        }
      }

      a {
        color: white;

        font-size: 0.8rem;
        text-decoration: underline;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
      }
    }
  }
}

.require {
  color: red;
  font-size: 1.3rem;
  margin-left: 0.3rem;
}

.error-backup {
  position: absolute;
  top: 3.3rem;
  font-weight: normal;
  color: red;
  left: 0;
  width: 350px;
  font-size: 0.9rem;
}
