.bg-color {
  background: #7c8ba5;
  padding: 5rem 0;
  .LoanApplication {
    max-width: 1000px;
    margin: 0 auto;
    background: white;
    padding-top: 4rem;
    position: relative;

    .review-form-header {
      padding: 0 1rem;

      img {
        width: 230px;
        position: absolute;
        top: 4rem;
        left: 1rem;

        @media (max-width: $me-laptop) {
          left: 50%;
          transform: translate(-50%);
        }
      }

      h1 {
        font-weight: normal;
        margin-bottom: 2rem;
        color: $dark-blue;

        @media (max-width: $laptop) {
          font-size: 1.6rem;
        }
      }
      .application-title {
        text-align: center;
        font-size: 2.7rem;
        font-weight: 300;
        margin-bottom: 5rem;

        @media (max-width: $me-laptop) {
          margin-top: 4rem;
          margin-bottom: 2rem;
          font-size: 2.5rem;
        }
      }
    }

    .application-information {
      padding: 0 1rem;
      font-weight: 300;

      .share-classes {
        margin-bottom: 2rem;

        h3 {
          font-size: 1rem;
          margin-bottom: 0.5rem;
          color: $dark-blue;
        }

        .information-wrapper {
          background: rgb(243, 243, 243);

          @include flexProps(space-around);

          padding: 0.2rem 0;

          @media (max-width: $laptop) {
            padding: 0.5rem 1rem;
          }

          @media (max-width: $laptop) {
            flex-direction: column;
            align-items: center;
          }

          .lef-side-wrapper,
          .right-side-wrapper {
            @include flexProps(flex-end);

            width: 40%;
            margin: 0 auto;

            @media (max-width: $laptop) {
              width: 80%;
            }
            .description {
              font-weight: bold;
              text-transform: capitalize;
              margin-right: 0.5rem;
              color: $dark-blue;
              font-size: 0.9rem;

              @media (max-width: $laptop) {
                font-size: 0.8rem;
              }
            }

            .value {
              font-size: 0.9rem;
              color: black;

              @media (max-width: $laptop) {
                font-size: 0.8rem;
              }
            }
          }
        }
      }
    }

    .choose-branch-location {
      label {
        font-weight: normal;
      }

      h1 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
        color: $dark-blue;
      }

      .agreement {
        padding: 0 1rem;
        margin-top: 4rem;

        h1 {
          font-size: 1.8rem;
          margin-bottom: 1rem;
          color: $dark-blue;
        }

        p {
          font-weight: 300;
          font-size: 0.9rem;
        }

        .small-desc {
          font-weight: bold;
          margin-bottom: 1rem;
        }
      }

      .btn-wrapper {
        text-align: center;
        margin-top: 4rem;

        p {
          .require {
            display: inline-block;
          }
        }

        span {
          display: block;
          margin: 0.5rem 0;
        }

        button[type="submit"] {
          @include mainButton($dark-blue, 0.8rem);

          width: 500px;
          font-size: 1.2rem;
          margin-top: 0.5rem;

          @media (max-width: $laptop) {
            width: 300px;
          }
        }

        .goback {
          padding: 0.5rem 1rem;
          font-size: 1rem;
          text-transform: capitalize;
          border-radius: 4px;
          border: 1px solid $dark-blue;
          color: $dark-blue;
          background: none;
          width: 150px;
        }
      }
    }
  }
}
