.Transfers {
  .Account {
    border: 1px solid rgb(218, 218, 219);
    margin: 3rem 1rem;
    h3 {
      background: $dark-blue;
      color: $white;
      font-weight: normal;
      padding: 0.7rem 1rem;
    }

    form {
      margin: 1rem;

      label {
        input {
          margin-top: 0.7rem;
        }
      }
      button {
        margin-top: 1rem;
      }
    }

    .change-pin-form {
      width: 40%;

      @media (max-width: $laptop) {
        width: 60%;
      }

      .account-number {
        font-size: 0.9rem;
        @include flexProps(space-between);
        text-transform: capitalize;
        font-weight: bold;
        margin-bottom: 0.5rem;

        span {
          font-weight: normal;
        }
      }
      label {
        @include flexProps(space-between);
        font-weight: bold;
        position: relative;
        font-size: 0.9rem;
        align-items: center;

        .pin-error {
          position: absolute;
          color: red;
          top: 2.5rem;
          left: 50%;
          font-weight: normal;
          font-size: 0.8rem;
        }

        input {
          width: 50%;
          padding: 0.3rem;
          border: 1px solid rgb(214, 214, 214);
          border-radius: 4px;
          margin-bottom: 0.5rem;
        }
      }

      .btn-wrapper {
        width: 70%;
        margin: 0.7rem auto;

        @include flexProps(flex-end);

        button {
          @include mainButton($dark-blue, 0.5rem 0.7rem);
          font-size: 0.9rem;
        }
      }
    }
  }

  .form-footer {
    text-align: center;
    padding: 2rem;
    font-size: 0.9rem;
    font-weight: 300;

    color: $white;
    background: $dark-blue;
    a {
      color: $white;
    }

    span {
      &:first-child {
        margin-bottom: 0.3rem;
      }

      &:last-child {
        margin-top: 0.3rem;
      }
    }
  }
}
