.Transfers {
  .Account {
    .transfers-form {
      label {
        @include flexProps(space-between);
        align-items: center;
        position: relative;
        text-transform: capitalize;
        font-weight: bold;
        font-size: 0.9rem;
        select {
          width: 80%;
          margin-bottom: 0.7rem;
          padding: 0.3rem;
          margin-top: 0.7rem;
          border: 1px solid rgb(214, 214, 214);
          border-radius: 4px;
        }

        input {
          width: 80%;
          padding: 0.3rem;
          border: 1px solid rgb(214, 214, 214);
          border-radius: 4px;
        }

        .transfer-error {
          position: absolute;
          color: red;
          top: 2.6rem;
          left: 20%;
          font-weight: normal;
          font-size: 0.9rem;
        }
      }

      .btn-wrapper {
        width: 60%;
        margin: 0.7rem auto;

        button {
          @include mainButton($dark-blue, 0.5rem 0.7rem);
          font-size: 0.9rem;
        }
      }
    }
  }
}
